<div class="main-post">
  <div class="post-inner">
    <div class="form__wrapper">
      <h2 class="page-heading">『Cafe Note編集』</h2>
      <%= render partial: "form", locals: { note: @note }%>
    </div>
  </div>
</div>
