<div class="main-post">
  <div class="post-inner">
    <div class="form__wrapper">
      <h2 class="page-heading">『新規Cafe Note投稿』</h2>
      <%= render partial: "form", local: { note: @note }%>
    </div>
  </div>
</div>
